.footer {
  @include flex($direc: column);
  background-color: $blue-logo;
  .footer-sosmed {
    padding-top: 2rem;
    .sosmed-logo {
      width: 2rem;
      margin: 0 1rem;
    }
  }
  .footer-line {
    width: 50rem;
    margin: 2rem 0;
  }
  .footer-copyright-wrapper {
    margin-bottom: 2rem;
    .footer-copyright {
      color: $white;
    }
  }
}
