.footer {
  @include flex($direc: column);
  background-color: $blue-logo;
  .footer-menus {
    .footlink-wrapper {
      @include flex();
      list-style: none;
      padding-top: 4rem;
      padding-bottom: 2rem;

      .footlink {
        margin: 0 2rem;

        .footlink-text {
          color: $white;
          &:hover {
            color: $orange-logo;
            transition: 0.3s;
          }
        }
        /* Dropdown button */
        .dropdown .dropbtn {
          font-size: 16px;
          border: none;
          outline: none;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit; /* Important for vertical align on mobile phones */
          margin: 0; /* Important for vertical align on mobile phones */
        }

        /* Add a red background color to navbar links on hover */
        .navbar a:hover,
        .dropdown:hover .dropbtn {
          // background-color: $white;
          cursor: pointer;
          // color: $orange-logo;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          .navtext {
            color: $black;
          }
        }

        /* Links inside the dropdown */
        .dropdown-content a {
          float: none;
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
          background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
  .footer-sosmed {
    .sosmed-logo {
      width: 2rem;
      margin: 0 1rem;
    }
  }
  .footer-line {
    width: 50rem;
    margin: 2rem 0;
  }
  .footer-copyright-wrapper {
    margin-bottom: 2rem;
    .footer-copyright {
      color: $white;
    }
  }
}
