.header {
    @include flex($direc: column);
    
    .header-title-large {
        @include flex($direc: column);
        font-size: 4rem;
        font-weight: 700;
        margin-top: 10rem;
        margin-bottom: 2rem;

        .hedaer-title-medium {
            font-size: 3rem;
        }
    }

    .header-tagline {
        text-align: center;
        width: 35%;
    }

    .header-btn-wrapper {
        @include flex($justify: space-around);
        width: 20%;
        margin-top: 2rem;

        .btn-get-started {
            @include button();
        }
        .btn-contact-us {
            @include button();
            border: 1px solid $orange-logo;
            background-color: $white;
            &:hover {
                color: $black;
                background-color: $orange-logo;
              }
        }
    }
    .header-image {
        width: 50%;
    }
}

