.navbar {
  @include flex($justify: space-around);
  height: 4rem;
  width: 100%;
  position: fixed;
  background-color: $white;

  .logo {
    width: 12rem;
    margin-top: 10px;
    margin-right: -5rem;
  }

  .navlink-wrapper {
    @include flex();
    list-style: none;
    padding: 0;

    .navlink {
      padding: 1rem 2rem;

      .navtext {
        &:hover {
          color: $blue-logo;
          transition: 0.3s;
        }
      }
      
    }
  }

  .button-get-started {
    @include button();
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: $white;
    cursor: pointer;
    color: $blue-logo;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
