.navbar {
  @include flex($justify: space-around);
  height: 4rem;
  width: 100%;
  position: fixed;
  background-color: $white;
  padding-top: 8px;

  .navbar-logo {
    width: 10rem;
    margin-right: -5rem;
    margin-top: -1rem;
  }

  .navlink-wrapper {
    @include flex();
    list-style: none;
    padding: 0;

    .navlink {
      padding: 1rem 2rem;

      .navtext {
        padding-top: 3rem;
        &:hover {
          color: $blue-logo;
          transition: 0.3s;
        }
      }
      
    }
  }

  .button-get-started {
    @include button();
  }
}
